<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466744596719-gimr06dbrjhka3gg1taptno3u6mbofph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466744596719-gimr06dbrjhka3gg1taptno3u6mbofph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466744596719-m0812u5eihrknabdhuu6a1p782rtu8ne.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3OIDBkPoKULQ67zXXvoEG5AqIRt_4dtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>466744596719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kitapacademy.education</string>
	<key>PROJECT_ID</key>
	<string>education-c2a53</string>
	<key>STORAGE_BUCKET</key>
	<string>education-c2a53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466744596719:ios:fe96d339b742893e7ba31a</string>
</dict>
</plist>